<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adivina el Animal</title>
    <link
        href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
        rel="stylesheet"
    />
    <style>
        .small-image {
            max-width: 200px; /* Puedes ajustar este valor según lo necesites */
            max-height: 200px;
        }
    </style>
</head>
<body class="bg-blue-300">
    <div class="container mx-auto mt-20 text-center bg-blue-200 w-1/5 rounded-lg ">
        <h1 class="text-3xl font-bold mb-4 h-10 py-5">¿ Que animal es ?</h1>
        <div class="mx-auto w-[20%_20%]">
            <img
                id="animalImage"
                src=""
                alt="Animal"
                class="mb-4 w-[100%_100%] small-image mx-auto"
            />
        </div>

        <input
            type="text"
            id="animalName"
            class="border border-gray-300 p-2 rounded-lg mb-4"
            placeholder="Escribe el nombre del animal"
        />
        <button
            id="submitBtn"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg mb-5 transition duration-300 transform hover:scale-105"
            >Enviar</button>
            
        <button
            id="terminar"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg mb-5 transition duration-300 transform hover:scale-105"
            >terminar juego</button>

        <div id="result" class="text-xl mt-4"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const animals = [
            {
                name: "perro",
                image: "https://png.pngtree.com/png-clipart/20231016/original/pngtree-dog-standing-cartoon-character-png-image_13322602.png",
            },
            {
                name: "gato",
                image: "https://png.pngtree.com/png-clipart/20231005/original/pngtree-cat-animal-cartoon-character-png-image_13123344.png",
            },
            {
                name: "conejo",
                image: "https://png.pngtree.com/png-clipart/20230927/original/pngtree-cartoon-rabbit-on-white-background-vector-png-image_13154880.png",
            },
            {
                name: "pajaro",
                image: "https://png.pngtree.com/png-clipart/20231019/original/pngtree-bird-animal-cartoon-character-png-image_13371255.png",
            },
        ];

        // Obtener elementos del DOM
        const animalImage = document.getElementById("animalImage");
        const animalNameInput = document.getElementById("animalName");
        const resultDiv = document.getElementById("result");
        const botonTerminar = document.getElementById("terminar");

        // Inicializar contadores de respuestas
        let countCorrect = 0;
        let countIncorrect = 0;

        // Función para obtener un animal aleatorio
        function getRandomAnimal() {
            return animals[Math.floor(Math.random() * animals.length)];
        }

        // Función para mostrar un animal aleatorio en la página
        function displayRandomAnimal() {
            const randomAnimal = getRandomAnimal();
            animalImage.src = randomAnimal.image;
            animalImage.alt = randomAnimal.name;
        }

        // Manejar el evento de clic en el botón de enviar
        document
            .getElementById("submitBtn")
            .addEventListener("click", function () {
                const userAnswer = animalNameInput.value
                    .toLowerCase()
                    .trim(); // Convertir a minúsculas y eliminar espacios en blanco al principio y al final
                const correctAnimalName = animalImage.alt.toLowerCase();

                if (userAnswer === correctAnimalName) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Correcto",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    countCorrect++;
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "¡Incorrecto!",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    countIncorrect++;
                }
                // Limpiar el campo de entrada después de 2 segundos
                setTimeout(function () {
                    animalNameInput.value = "";
                    resultDiv.textContent = "";
                    displayRandomAnimal();
                }, 2000);
            });

        // Mostrar un animal aleatorio al cargar la página
        displayRandomAnimal();

        // Evento clic en el botón "terminar"
        botonTerminar.addEventListener("click", function () {
            Swal.fire({
                        position: "center",
                        icon: "info",
                        title: "Respuestas correctas: " + countCorrect + "\nRespuestas incorrectas: " + countIncorrect,
                        showConfirmButton: false,
                        timer: 3000,
                    });
            
        });
    </script>
</body>
</html>
