---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			/* Estilos generales */
			body {
				background-color: #e0f7fa;
			}

			/* Media queries para pantallas medianas */
			@media (max-width: 900px) {
				.grid-cols-2 {
					grid-template-columns: repeat(1, minmax(0, 1fr));
				}
				nav.container {
					width: 100%;
					flex-direction: column;
					align-items: flex-start;
				}
				nav.menu ul {
					flex-direction: column;
					width: 100%;
				}
				nav.menu ul li {
					width: 100%;
					margin-bottom: 10px;
				}
			}

			/* Media queries para pantallas pequeñas */
			@media (max-width: 600px) {
				nav.container {
					height: auto;
				}
				nav.menu ul {
					flex-direction: column;
				}
				nav.menu ul li {
					margin-bottom: 5px;
				}
			}
		</style>
	</head>
	<body class="bg-gray-100 font-sans">
		<div class="bg-purple-500 p-4 mx-auto rounded">
			<div class="container mx-auto flex justify-between items-center">
				<div class="w-10 h-10 overflow-hidden">
					<img
						class="max-w-full h-auto"
						src="../img/icono.webp"
						alt=""
					/>
				</div>

				<div class="w-30 flex justify-between items-center">
					<div
						class="transition duration-300 transform hover:scale-105 hover:text-gray-100"
					>
						<a
							href="/src/pages/iniciosesion.astro"
							class="text-white">Iniciar sesión</a
						>
					</div>
				</div>
			</div>
		</div>

		<div class="container mx-auto p-4 text-center mb-20">
			<h1
				class="text-4xl max-w-60 mx-auto font-bold mb-4 font-mono border-b-2 border-black"
			>
				¡Bienvenido!
			</h1>
			<div class="my-10 relative">
				<div
					id="slider"
					class="max-w-xl mx-auto bg-purple-500 p-2 rounded overflow-hidden relative"
				>
					<h1
						class="font-bold font-mono uppercase text-xl text-white"
					>
						Como empezar
					</h1>
					<ul id="slideList" class="bg-white p-3 rounded">
						<li id="slide" class="slide-in-left">
							1- No tienes cuenta? Registrate <a
								class="border-b-2 border-black"
								href="/src/pages/registro.astro">aqui!</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Sección de Juegos -->

			<div class="grid grid-cols-2 gap-4">
				<div
					class="p-4 bg-white hover:bg-purple-300 border hover:border-black rounded shadow-md hover:scale-105 transition-transform duration-700"
				>
					<h2 class="text-2xl font-bold mb-2 font-mono">
						Adivina el animal
					</h2>
					<img
						src="../img/animal.webp"
						alt="Icono de Juegos"
						class="w-24 h-24 mx-auto mb-4"
					/>
					<p class="">¡Adivina el nombre del animal y gana!</p>
					<a
						href="/src/pages/juego_dos.astro"
						class="mt-2 max-w-32 mx-auto font-semibold bg-purple-500 rounded block text-white hover:bg-purple-700"
						>Jugar</a
					>
				</div>

				<div
					class="p-4 bg-white border hover:border-black hover:bg-purple-300 rounded shadow-md hover:scale-105 transition-transform duration-700"
				>
					<h2 class="text-2xl font-bold mb-2 font-mono">
						Matematicas
					</h2>
					<img
						src="../img/matematicas.png"
						alt="Icono de Juegos"
						class="w-24 h-24 mx-auto mb-4"
					/>
					<p class="">¡Resuelve las operaciones y gana!</p>
					<a
						href="/src/pages/juego.astro"
						class="mt-2 max-w-32 mx-auto font-semibold bg-purple-500 rounded block text-white hover:bg-purple-700"
						>Jugar</a
					>
				</div>

				<div
					class="p-4 bg-white border hover:border-black hover:bg-purple-300 rounded shadow-md hover:scale-105 transition-transform duration-700"
				>
					<h2 class="text-2xl font-bold mb-2 font-mono">
						Ciencias Naturales
					</h2>
					<img
						src="../img/cienciasNaturales.png"
						alt="Icono de Juegos"
						class="w-24 h-24 mx-auto mb-4"
					/>
					<p class="">¿Cuanto sabes sobre la naturaleza?</p>
					<a
						href="/src/pages/cienciasNaturales.astro"
						class="mt-2 max-w-32 mx-auto font-semibold bg-purple-500 rounded block text-white hover:bg-purple-700"
						>Jugar</a
					>
				</div>

				<div
					class="p-4 bg-white border hover:border-black hover:bg-purple-300 rounded shadow-md hover:scale-105 transition-transform duration-700"
				>
					<h2 class="text-2xl font-bold mb-2 font-mono">
						Ciencias Sociales
					</h2>
					<img
						src="../img/sociales.png"
						alt="Icono de Juegos"
						class="w-24 h-24 mx-auto mb-4"
					/>
					<p class="">¿Que sabes de la sociedad?</p>
					<a
						href="/src/pages/cienciasSociales.astro"
						class="mt-2 max-w-32 mx-auto font-semibold bg-purple-500 rounded block text-white hover:bg-purple-700"
						>Jugar</a
					>
				</div>

				<div
					class="p-4 bg-white border hover:border-black hover:bg-purple-300 rounded shadow-md hover:scale-105 transition-transform duration-700"
				>
					<h2 class="text-2xl font-bold mb-2 font-mono">Español</h2>
					<img
						src="../img/castellano.png"
						alt="Icono de Juegos"
						class="w-24 h-24 mx-auto mb-4"
					/>
					<p class="">¡Que sabes de literatura!</p>
					<a
						href="/src/pages/lenguaCastellana.astro"
						class="mt-2 max-w-32 mx-auto font-semibold bg-purple-500 rounded block text-white hover:bg-purple-700"
						>Jugar</a
					>
				</div>

				<div
					class="p-4 bg-white border hover:border-black hover:bg-purple-300 rounded shadow-md hover:scale-105 transition-transform duration-700"
				>
					<h2 class="text-2xl font-bold mb-2 font-mono">Etica</h2>
					<img
						src="../img/etica.png"
						alt="Icono de Juegos"
						class="w-24 h-24 mx-auto mb-4"
					/>
					<p class="">¿Sabes de valores humanos?</p>
					<a
						href="/src/pages/etica.astro"
						class="mt-2 max-w-32 mx-auto font-semibold bg-purple-500 rounded block text-white hover:bg-purple-700"
						>Jugar</a
					>
				</div>
			</div>
		</div>
		<div class="mx-auto flex flex-col max-w-3xl gap-5 p-3 mb-20">
				<a class="p-2 text-lg font-bold text-center border-2 border-black rounded bg-purple-500" href="/src/pages/Cuestionario.astro">
					terminar y generar la autoevaulacion</a
				>
			
		</div>
		<footer class="flex flex-wrap justify-around text-white bg-purple-500 ">
			<div class="h-10 text-center ">
				<div class="my-10 relative">
					<div id="slider" class="max-w-xl mx-auto bg-purple-500 p-2 rounded overflow-hidden relative text-black">
						<ul id="slideList" class="bg-white p-3 rounded">
							<li id="slide-2" class="slide-in-left">
								El optimismo es la fe que conduce al logro; nada se puede hacer sin esperanza y confianza
							</li>
						</ul>
					</div>
				</div>
			</div>
		
			<div class="text-center mt-5 mr-20">
				<p class="text-lg">¡Síguenos en nuestras redes sociales!</p>
				<div class="flex justify-center mt-4">
					<a href="#" class="mr-4 hover:text-gray-200">Facebook</a>
					<a href="#" class="mr-4 hover:text-gray-200">Twitter</a>
					<a href="#" class="hover:text-gray-200">Instagram</a>
				</div>
				<p class="mt-4">&copy; 2024 Astro. Todos los derechos reservados.</p>
			</div>
		</footer>
		
		

		<slot />

		<script>
			const slide = document.getElementById("slide");
			const messages = [
				"1- No tienes cuenta? Registrate <a class='border-b-2 border-black' href='/src/pages/registro.astro'>aqui!</a>",
				"2- Si ya estas registrado, puedes hacer uso de todas nuestras funcionalidades ;)",
				"3- Al final podrás encontrar un sistema de autoevaluación",
			];
			let index = 0;

			function showNextMessage() {
				index = (index + 1) % messages.length;
				slide.innerHTML = messages[index];
			}

			// Cambiar los mensajes automáticamente después de cierto tiempo
			setInterval(showNextMessage, 2000); // Cambiar cada 2 segundos

			const slideDos = document.getElementById("slide-2");
			const messagesDos = [
				" El éxito no es definitivo, el fracaso no es fatal: lo que cuenta es el valor para continuar ",
				"Cree en ti mismo y todo será posible",
				"La única forma de hacer un gran trabajo es amar lo que haces",
				"No importa lo lento que vayas, siempre y cuando no te detengas",
				"El momento en el que quieres rendirte es justo cuando debes seguir adelante",
				"El único lugar donde el éxito viene antes que el trabajo es en el diccionario",
				"El fracaso es la oportunidad de empezar de nuevo, pero esta vez de forma más inteligente",
			];
			let indexDos = 0;

			function showNextMessageDos() {
				indexDos = (indexDos + 1) % messagesDos.length;
				slideDos.innerHTML = messagesDos[indexDos];
			}

			// Cambiar los mensajes automáticamente después de cierto tiempo
			setInterval(showNextMessageDos, 3000); // Cambiar cada 2 segundos
		</script>

	</body>
</html>
